* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.8);
  border: 1px solid rgba(100, 114, 125, 0.8);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 2px 2px;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: rgba(0, 0, 0, 0.0);
    border-bottom: 3px solid white;
}

#clock {
  padding-top: 3px;
}

#pulseaudio,
#network,
#battery {
  padding-right: 10px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
